<!DOCTYPE html>
<html>
  <head>
    <title>smakT</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar">
      <div class="navbar-inner">
        <div class="container">
          	<%= link_to "smakT", '#', class: "brand" %> 
			<%= link_to "<button class='btn btn-success'>New Picture</button>".html_safe, "/pictures/new" %>
			<%= @pictures.length %> pictures
        </div>
      </div>
    </header>
    <div class="container" style="margin-top:55px">
      <%= yield %>
    </div>
  </body>
</html>